/* App background */
.stApp {
    background: linear-gradient(
        135deg,
        #832962 0%,
        #e0f2fe 50%,
        #21374d 100%
    ) !important;
    min-height: 100vh;
    font-family: 'Segoe UI', sans-serif;
}

/* Card style */
.card {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
    margin-bottom: 25px;
    text-align: center;
}

/* FORCE title visibility inside card */
.card h1,h2,h3 {
    color: #0f172a !important;
    font-size: 42px;
    font-weight: 800;
    opacity: 1 !important;
}

.card p {
    color: #1e293b !important;
    font-size: 18px;
    opacity: 1 !important;
}


/* Metric box */
div[data-testid="metric-container"] {
    background-color: #f8fafc;
    border-radius: 14px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

/* Prediction box */
.prediction-box {
    background: linear-gradient(
        135deg,
        #dcfce7,
        #04752c
    );
    padding: 22px;
    border-radius: 14px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #166534;
    margin-top: 15px;
}
